{
  "plugins": [
    "stylelint-scss"
  ],
  "extends": [
    "stylelint-config-idiomatic-order",
    "stylelint-config-recommended-scss"
  ],
  "rules": {
    "string-quotes": "single",
    "no-descending-specificity": null
  }
}
